ROBOT_NAME=QA1Potato
ROBOT_IP=10.14.19.194
PROTOCOL_NAME=Flex Smoke Test
OPENTRONS_APP_PATH=/Applications/Opentrons.app/Contents/MacOS/Opentrons
OPENTRONS_ROOT=/Users/alexcopperman/Downloads/Opentrons_General/opentrons
